 section >img{
    width: 400px;
    height: 400px;
    margin-left: 30px;
    margin-right: 30px;
    display: inline;
    box-shadow: 10px 5px 5px black;
    position: sticky;
}

h2{
    
    font-size: xx-large;
    display: flex;
    flex-wrap: wrap;
    
}

section> img:hover{
    transform: translate(10px, 20%);
    transition: all 1s ease;
}